<H1>Bohemian Rhapsody</H1>
<h2>Architecture</h2>
<p>Api - The api is written in C# using asp.net.mvc.</p>
<p>    - The main database layer is the SqlLiteData object that implements the IMusicData interface</p>
<p>    - The Api Controllers are split up according to models Genre, Song, Artist and Album</p>
<p>    - The Api uses Rest and JSON formatting</p>
<p>FrontEnd - The front end is written in Angular with bootstrap and sass</p>

<h2>RequireMents</h2>
<p>You can use any frontend tech that you’re comfortable with (React, Angular etc)</p>
<p>Backend API – c# mvc</p>
<p> Data must be stored in any database of your choosing - Local SQLLite database</p>
<p> Sass or Less - Sass, please checkout the sass buttons below.</p>
<p> Redux or RXjs - No Redux, just a lot of subscriptions, maps and pipes</p>
<p> Bootstrap, Foundation or Material - Bootstrap stock</p>
<p> Responsive Design - Mobile first</p>
<p> SOLID Principles - You bet</p>
<p> Dependency Injection - Implemented IMusicData Interface injection into SQLLiteData</p>
<p>Unit tests with Mock - Please checkout the tests paragraph</p>
<p> BONUS: Docker - Sorry No Docker, yet ..  </p>
<p> Assessment code in Github or Gitlab - My Github link is https://github.com/graham136/ASP.Net.Angular</p>

<H2>Tests</H2>
<p>1. Please open bohemianRhapsody.sln in visual studio 2017 or 2019.</p>
<p>2. Please click on project logic tests, and run the api tests.</p>
<p>3. Please open Dos prompt and go to the BehemianRhapsory/ClientApp directory</p>
<p>4. Please type in "ng test" to run the angular front end test in Karma</p>

<p>Anyway please checkout my Sass buttons. All other buttons in the app are bootstrap stock buttons</p>
<button type="button" class="orange scssBtn float-right" (click)="onArtists()"><span class='glyphicon glyphicon-user'></span>Artists</button>
<button type="button" class="green scssBtn float-right" (click)="onSongs()"><span class='glyphicon glyphicon-music'></span>Songs</button>
<button type="button" class="blue scssBtn float-right" (click)="onAlbums()"><span class='glyphicon glyphicon-th-list'></span>Albums</button>
<button type="button" class="red scssBtn float-right" (click)="onGenre()"><span class='glyphicon glyphicon-heart'></span>Genre</button>
