<h1>Albums</h1>

<p>The current collection of song albums in the database.</p>
<h3>Search</h3>
<form [formGroup]="myForm">
  <div class="form-group">
    <label for="albumName">Album Name:</label>
    <input type="text" class="form-control" id="albumName" formControlName="albumName">
    <ng-template [ngIf]="!myForm.controls.albumName.valid">
      Please enter a Album name to search?
    </ng-template>
  </div>
  <button type="button" class="btn btn-info" (click)="onSearchClick()">
    <span class="glyphicon glyphicon-search"></span> Search
  </button>
  <button type="button" class="btn btn-info" (click)="onRefreshClick()">
    <span class="glyphicon glyphicon-refresh"></span> Reset Search
  </button>
</form>

<p *ngIf="!albums"><em>Loading...</em></p>

<table class='table' *ngIf="albums">
  <thead>
    <tr>
      <th>AlbumId</th>
      <th>AlbumName</th>
      <th>Picture</th>
      <th>ArtistId</th>
      <th>ArtistName</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let album of albums; let i = index">
      <td>{{ album.albumId }}</td>
      <td>{{ album.albumName }}</td>
      <td><img src="{{ album.albumUrl }}" /></td>
      <td>{{ album.artistId }}</td>
      <td>{{ album.artistName }}</td>
      <td>
        <button class="btn btn-info"
                (click)="onViewClick(i)">
          View
        </button>
        <button class="btn btn-warning"
                (click)="onEditClick(i)">
          Edit
        </button>
        <button class="btn btn-danger"
                (click)="onDeleteClick(i)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-success"
        (click)="onAddClick()">
  Add a album
</button>
