<h1>Artist</h1>

<p>Editing a selected artist</p>

<p *ngIf="!artist"><em>Loading...</em></p>

<div *ngIf="artist">
  <form [formGroup]="myForm">
    <h2>Edit Artist</h2>
    <div class="form-group">
      <label for="artistName">Artist Name:</label>
      <input type="text" class="form-control" id="artistName" formControlName="artistName" value="{{ artist.artistName }}">
      <ng-template [ngIf]="!myForm.controls.artistName.valid">
        Please enter a Artist name?
      </ng-template>
    </div>
    <div class="form-group">
      <label for="artistPicture">Artist Picture:</label>
      <div>
        <img src="{{selectedArtist}}" />
      </div>
      <br />
      <select formControlName="artistPicture" class="form-control" [(ngModel)]="selectedArtist">
        <option *ngFor="let picture of artistPictures" [value]="picture">{{ picture }}</option>
      </select>
      <ng-template [ngIf]="!myForm.controls.artistPicture.valid">
        Please select an Artist picture?
      </ng-template>
    </div>
    <button class="btn btn-primary"
            (click)="onBackClick()">
      Back to Artists
    </button>
    <button class="btn btn-success"
            (click)="onSaveClick()"
            [disabled]="!myForm.valid">
      Save to Artists
    </button>
  </form>
</div>
