<h1>Artist</h1>

<div *ngIf="!deleteArtist">
  <p>Cannot delete artist {{artist.artistName}} as it is still in use in a song.</p>
  <button class="btn btn-primary"
          (click)="onBackClick()">
    Back to Artists
  </button>
</div>

<div *ngIf="deleteArtist">
  <h2>Delete Artist?:</h2>
  <div class="form-group">
    <label for="artistName">Artist Name:</label>
    <input type="text" class="form-control" id="artistName" value="{{ artist.artistName }}" disabled>
  </div>
  <button class="btn btn-primary"
          (click)="onBackClick()">
    Back to Artists
  </button>
  <button class="btn btn-danger"
          (click)="onDeleteClick()">
    Delete Artist
  </button>
</div>
